@import 'highlight.js/scss/base16/atelier-sulphurpool-light.scss';
@import 'github-markdown-css/github-markdown.css';

:root {
  --bg-color: #d1c4e9;
  --bg-color-dark: #673ab7;
  --swiper-navigation-sides-offset: -60px;
  --swiper-navigation-size: 32px; /* To edit the size of the arrows */
  --swiper-navigation-color: #4527a0; /* To edit the color of the arrows */
}

a {
  text-decoration: none;
  color: var(--bg-color-dark);
  transition: 0.4s;
}

.markdown-body {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
}
